<div class="row">
	<div  class="thumbnail thumbnail-message" style="opacity:100%;color:white;transparency:0">
		<br>
		<a href="<%= message_path(message) %>" style="text-decoration:none; color: #333333; ">
			<div class="col-md-2 text-center">
				<br>
				<%=  fa_icon( !MESSAGE_TYPES[message.message_type].nil? ? MESSAGE_TYPES[message.message_type] + ' 3x' : 'exclamation 3x' ,style:'color:red')  %>
			</div>

			<div class="col-md-6">
					<div class="caption-static">
						<h4 style="color:white" class="resize"><%= message.body.capitalize %>, <%= message.message_type %></h4>
					</div> 
			</div>

			<div class="col-md-4">

				<div class="row text-center">
					<h4> Confidence </h4>
					<i><h3 style="color:red"> <%= message.confidence %> </h3></i>
				</div>
				
			</div>
		</a>
	</div>
</div>



