<div class="page-header">
	<h2><%= @locale.city %>, <%= @locale.state %></h2>
</div>


<% if @locale.messages.first.nil? %>

<div class="col-md-8 col-md-offset-2 text-center">
	<h2 style="color:white"><i>Coming Soon</i></h2>
	<h2 style="color:white"> Check back in when <%= @locale.city %> becomes Aw<span style="color:red">air<span> </h2>
</div>

<% end %>

<div class="row">
	<div id="slot" class="col-md-6 col-md-offset-3"> 
		<% @locale.messages.order('transcribed_at DESC').take(150).each do |message| %>
		<div id="wrapper" class="row">
			<%= render message %>
		</div>
		<% end %>
	</div>

</div>

<div data="<%= @locale.messages.order('transcribed_at DESC').first.created_at unless @locale.messages.first.nil?%>"></div>


<script>
	$(document).ready(function(){

		var i = 0;
		var datetimes = [];
		var latest_date = new Date(Date.now());
		function myLoop () {  

			for (i=0; i < datetimes.length; i++){
				if (datetimes[i] > latest_date){
					latest_date = datetimes[i]
				}
			}

			setTimeout(function () {
				$.getJSON( "/locales/<%= @locale.id %>/latest_messages.json", function( json ) {
					
					var message = json[0];
					datetimes.push(new Date(message.transcribed_at));

					var block = $('#wrapper').first().clone(); 
					if ( new Date(message.transcribed_at) > new Date($("#wrapper").children().first().find("#transcribed").attr("data") ) && (latest_date < new Date(message.transcribed_at)) ) {
						
						// if message body provided, add it to div
						if (message.body){
							block.find("#body_text").html(message.body);
						} else {
							block.find("#body_text").html("--");
						}					
						
						// if transcribed datetime provided, add it to div
						if (message.transcribed_at){
							var display_time = moment(message.transcribed_at);
							block.find("#transcribed").html(display_time.tz('America/<%=@locale.city%>').format('LT'));
						} else {
							block.find("#transcribed").html("--");
						}

						// if confidence provided, add to div
						if (message.confidence){
							block.find("#confidence").html(message.confidence);
						} else {
							block.find("#confidence").html("--");
						}
						

					
						block.hide();
						$("#slot").prepend(block);
						block.slideDown("slow");
					    
					}


					
				});

			i++;
			if (i > 0) { 
				myLoop();
			};

			}, 4 * 1000);
		};

		myLoop();

	});
</script>
